@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

svg {
	font-family: "Alata", sans-serif;
	width: 100%; height: 100%;
    z-index: 999;
}
svg text {
	animation: stroke 6s infinite alternate;
	stroke-width: 2;
	stroke: #266EA0;
	font-size: 100px;
}
@keyframes stroke {
	0%   {
		fill: rgba(56,122,203,0); stroke: #E7D1BB;
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(56,122,203,0); stroke: #E7D1BB; }
	80%  {fill: rgba(56,122,203,0); stroke: #E7D1BB; stroke-width: 3; }
	100% {
		fill: #E7D1BB; stroke: rgba(38,110,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.box {background-color: #FFFFFF};
